.Login {
  font-family: sans-serif;
  text-align: center;
}

.Login button {
  padding: 10px 50px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 22px;
  cursor: pointer;
}
.App button:hover {
  padding: 12px 55px;
  background-color: green;
}

.Login > form {
  background-color: rgb(168, 14, 14);
  margin: 10px 50px;
  border-radius: 15px;
  padding: 50px 5px;
}
input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

label {
  color: white;
  font-size: 20px;
  font-weight: 550;
}
